<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burger To-Eat-List</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='assets/css/burger_style.css'>
</head>
<body>
  
  <h1 class='header-area'>Burger To-Eat-List</h1>
  <img src='assets/img/burger.png' class='header-area' alt='A cartoon hamburger.'>
  <h2 class='header-area'>Gotta eat 'em all.</h2>
  {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='assets/js/app.js'></script>
</body>
</html>