

<div class='burger-area'>
  <div id='notDevouredDiv'>
    <h3>Burgers to Devour</h3>
    {{#each data}}
      {{#unless devoured}}
        <div data-id={{id}} class='not-devoured-container'>

          <p class='not-devoured'>{{burger_name}}</p>

          <button class='devourBtn' data-id={{id}}>DEVOUR</button>
        </div>
      {{/unless}}
    {{/each}}
  </div>

  <div id='createBurgerDiv'>
    <h3>Add a Burger to the List</h3>
    <form>
      <input type='text' id='burgerInput' required>
      <button type='submit' id='burgerSubmit'>ADD</button>
    </form>
  </div>

  <div id='devouredDiv'>
    <h3>The Devoured</h3>
    {{#each data}}
      {{#if devoured}}

        <p class='devoured strikethrough-diagonal'>{{burger_name}}</p>

      {{/if}}
    {{/each}}
  </div>
</div>
