body {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 325%;
}

h3 {
  font-size: 220%;
}
img.header-area {
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 200px;
  width: 200px;
}

.burger-area {
  display: grid;
  grid-template-columns: 1fr 5% 15% 30% 15% 5% 1fr;
  gap: 5px;
}

#notDevouredDiv {
  grid-column: 3 / 4;
}

#createBurgerDiv {
  grid-column: 4 / 5;
}

#devouredDiv {
  grid-column: 5 / 6;
}


.not-devoured-container {
  position: relative;
  width: 90%;
  height: 75px;
}


.not-devoured {
  position: absolute;
  left: 5%;
  top: 5px;
  width: 50%;
}

.devourBtn {
  position: absolute;
  top: 30%;
  left: 58%;
}

.strikethrough-diagonal {
  position: relative;  
}

.strikethrough-diagonal:before {  
    position: absolute;
    content: '';
    left: 20px;
    top: 45%;
    right: 20px;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    transform: skewY(-10deg);  
    color: red;
    font-size: 12px;
    opacity: 20%;
}

footer {
  margin-top: 40px;
}